<meta charset="UTF-8">
<title>Alexandria (Alpha)</title>

<link rel='shortcut icon' href='/images/favicon.ico'>

<link rel="stylesheet" href="/default.css">
<link rel="stylesheet" href="/perfect-scrollbar.min.css">
<link rel="stylesheet" href="/css/service.ddlist.jquery.css">

<script src='jquery-2.1.3.min.js'></script>
<script src='/socket.io/socket.io.js'></script>
<script src='/chat.js'></script>
<script src='/perfect-scrollbar.min.js'></script>
<script src='/javascript/jquery.nicescroll.min.js'></script>
<script src='/javascript/service.ddlist.jquery.min.js'></script>

<script src='/javascript/home.js'></script>
<script src='/javascript/chat.js'></script>
<script src='/javascript/room.js'></script>
<script src='/javascript/channel.js'></script>
<script src='/javascript/userProfile.js'></script>