<meta charset="UTF-8">
<title>Alexandria</title>

<link rel="stylesheet" href="/default.css">
<link rel="stylesheet" href="/perfect-scrollbar.min.css">

<script src='jquery-2.1.3.min.js'></script>
<script src='/socket.io/socket.io.js'></script>
<script src='/chat.js'></script>
<script src='/perfect-scrollbar.min.js'></script>
<script src='/javascript/jquery.nicescroll.min.js'></script>
<script src='/javascript/chat.js'></script>
<script src='/javascript/room.js'></script>
<script src='/javascript/channel.js'></script>
<script src='/javascript/userProfile.js'></script>