<!DOCTYPE html>
<html>
    <head>
        <%= include ../partials/head %>
    </head>
    <body>
        <div class='display'>
           
            <main>
                
                <header><img src='images/header.png' /></header>
                
                <div class='content_box'>&nbsp;</div>
                
                <div class='channels'>

                    <div class='channels_parent'>Channels</div>     

                    <br/>
                    <li class='navigationChannel'><img src='images/icons/play.png' /><p>My Channels</p></li>
                    
                    <br/>
                    <div class='channels_parent'>Friends</div>
                    <br/>
                    <div class='left_space'></div>
                    <br/>
                    
                    <div class='channels_parent'>Rooms</div>
                    <br/>
                    <li id='alexandria' class='navigationRoom'>
                        <img src='images/icons/upload.png' />
                        <p>Alexandria</p>
                        <p id='alexandria' class='navigationMessageCounter'>0</p>
                    </li>
                    <li id='bitcoin' class='navigationRoom'>
                        <img src='http://coinmarketcap.com/static/img/coins/16x16/bitcoin.png' />
                        <p>Bitcoin</p>
                        <p id='bitcoin' class='navigationMessageCounter'>0</p>
                    </li>

                    <input type='hidden' id='user' value='<%= user.username %>'>
                    <input type='hidden' id='userId' value='<%= user._id %>'>
                    <input type='hidden' id='room' value='empty'>
                </div>
                <div class='topNavigation'>
                    <div id='profileSettings' class='topNavigationEntry'>Profile Settings</div>
                    <div id='browseChannels' class='topNavigationEntry'>Browse Channels</div>
                    <div class='topNavigationEntry'>Browse Rooms</div>
                    <div class='topNavigationEntry'>Logout</div>
                </div>

            </main> 
        
            <div class='connections'>
                <div class='channels_parent'>Player</div> 
                <video class='player' id='player' width='260' height='142' src='http://r3---sn-gapox-hjme.googlevideo.com/videoplayback?fexp=900718%2C912332%2C927622%2C932404%2C9405708%2C9405802%2C941004%2C943917%2C946008%2C946201%2C947209%2C947218%2C948124%2C952302%2C952605%2C952901%2C955301%2C957103%2C957105%2C957201&mm=31&ipbits=0&key=yt5&id=o-APsejSmYzEIZpKxab7w7i931ZcXSjzn-zVunUJTHeouC&initcwndbps=952500&ip=89.248.172.172&dur=418.864&mv=m&source=youtube&ms=au&mt=1420176526&signature=0CBA3E4DA7CFF8C324A4D260547EF27BEBECB8D7.1294A8A79BBF9165DFAEFAA212E60CDD375B0619&ratebypass=yes&sparams=dur%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Cmm%2Cms%2Cmv%2Cratebypass%2Csource%2Cupn%2Cexpire&expire=1420198183&upn=K4Vob-6Lowg&sver=3&itag=22&signature=' controls></video>
                <br/>
                <div class='channels_parent'>Playlists</div> 
                    <div class='navigationPlaylistBox'>
                        <p class='navigationPlaylistTitle'>[01] Earth bombs the Moon</p>
                        <img class='navigationPlaylistImage' src='http://img.youtube.com/vi/npRste0fgAI/mqdefault.jpg' width='100' />
                        <div class='navigationPlaylistChannel'>Rap News</div>
                        <div>00:00:00</div>
                        <div class='navigationPlaylistBottom'>&nbsp;</div>
                    </div>
                    <div class='navigationPlaylistBox'>
                        <p class='navigationPlaylistTitle'>The Singularity - feat. Ray Kurzweil & Alex Jones [RAP NEWS 28] </p>
                        <img class='navigationPlaylistImage' src='http://img.youtube.com/vi/dHVtUw5wToA/mqdefault.jpg' width='100' />
                        <div class='navigationPlaylistChannel'>Rap News</div>
                        <div>00:00:00</div>
                        <div class='navigationPlaylistBottom'>&nbsp;</div>
                    </div>           
            </div>
        </div>
        
        <div class='chatBoxContainer'>
            <div class='chatBox' id='lobby'>
                <div class='chat_box_header'>
                    <p class='chat_box_header_text'>
                        Alexandria
                        <img class='closeChatBoxIcon' src='images/icons/close.png' />
                        <img class='maximizeChatBoxIcon' src='images/icons/maximize.png' />
                        <img class='chatSettingsIcon' src='images/icons/settings.png' />
                    </p>
                </div>        
                <div id='chatBoxAlexandria' class='chat_box_text'></div>        
                <textarea type="text" class='chat_box_input'/></textarea>
            </div>
            <div class='chatBox' style='left:234px;'>
                <div class='chat_box_header' style='height:22px;'>
                    <p class='chat_box_header_text'>
                        Bitcoin
                        <img class='closeChatBoxIcon' src='images/icons/close.png' />
                        <img class='maximizeChatBoxIcon' src='images/icons/maximize.png' />
                        <img class='chatSettingsIcon' src='images/icons/settings.png' />
                    </p>
                </div> 
                <div class='chat_box_text'></div>        
                <textarea type="text" class='chat_box_input'/></textarea>
            </div>
        </div>
        
    </body>
</html>