
<!DOCTYPE html>
<html>
    <head>
        <%= include ../partials/head_login %>
    </head>
    <body>
        <div style='position:relative;width:100%; height:100%;text-align:center;'>
            <form id='login_form' method='post' autocomplete='off'>
                <div class='terminal'>
                    <font style='font-weight:bold;color:#00FF00;'>alexandria:</font><font style='font-weight:bold;color:#3287f0'> ~ ฿ </font>
                        <input type='text' name='command' class='terminal_input' autocomplete='off'/><br/>
                </div>
            </form>
        </div>
    </body>
</html>